<div class="legend">
    <h3>Season {{season}}</h3>
    <div>
      <img src="assets/img/winner.png" style="width: 50px" alt="">
      <span>  Season Champion</span>
      <img src="assets/img/gold-medal.png" style="width: 35px" alt="">
  </div>
</div>
<div class="row">
    <div class="race-container col-xs-12 col-sm-12 col-md-6" *ngFor="let race of seasonRaces">
        <div class="driver-info">
            <img src="assets/img/winner.png" *ngIf="winner.familyName == race.Results[0].Driver.familyName" alt="winner">
            <img src="assets/img/no-winner.png" *ngIf="!(winner.familyName == race.Results[0].Driver.familyName)" alt="no-winner">
        </div>
        <div class="race-info">
            <div class="race-sub-info ">
                <span class="race-sub-info-driver">{{race.Results[0].Driver.givenName}} {{race.Results[0].Driver.familyName}}</span>
            </div>
            <div class="race-sub-info">
                <span style="font-weight: bold">{{race.Results[0].Constructor.name}}</span>
                <span>{{race.raceName}}</span>
                <span>{{race.Circuit.circuitName}}</span>
                <span>{{race.date}}</span>
            </div>
            <div *ngIf="winner.familyName == race.Results[0].Driver.familyName">
                <img class="gold-medal" src="assets/img/gold-medal.png" alt="">
            </div>
        </div>
    </div>
</div>