.legend {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 15px;
}
.driver-info {
    align-self: center;
    position: relative;
}

.driver-info > img {
    width: 100px;
}
.race-info {
    display: flex;
    flex: 1;
    background-color: #E3462B;
    color: #fff;
    justify-content: space-between;
    padding-left: 100px;
    margin-left: -90px;
    margin-top: 4px;
    margin-bottom: 10px;
    border-radius: 26px;
}
.race-sub-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding-right: 25px;
}

.race-sub-info > .race-sub-info-driver {
    font-size: 25px;
    font-family: 'Cuprum' !important;
    font-weight: bold;
    align-self: flex-start;
}
.gold-medal {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 25px;
    top: 1px;
}
.race-container {
    display: flex;
    flex: 1;
    flex-direction: row;
}