<nav class="navbar navbar-default personalized-nav">
    <div class="container">
        <div class="navbar-header">
            <div class="logo-container">
                <img src="assets/img/logo.png" alt="Formula-one">
                <h3>F1 World Championship</h3>
            </div>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['/']"><i class="fa fa-calendar-check-o"></i>Seasons</a></li>
            <li><a href="#"><i class="fa fa-flag-checkered"></i> Races</a></li>
        </ul>
    </div>
</nav>