.logo-container {
    text-align: center;
    padding-top: 14px;
}
.logo-container img {
    width: 120px;
}
.personalized-nav .fa {
    padding-right: 5px;
}

.personalized-nav .navbar-right {
    margin-top: 25px;
    font-size: 20px;
}
.personalized-nav.navbar-default {
    position: absolute;
    top: 0;
    width: 100%;
}