<div class="col-lg-2" *ngFor="let season of seasons">
  <a [routerLink]="['/season', season.season]">
    <div class="card news-card hoverable" style="margin-top: 1rem;">
      <div class="card-body">
        <h4 class="card-title text-center" style="font-size: 17px;">{{season.season}}</h4>
        <p class="card-text text-center cyan-text font-weight-bold justify-content-around" style="font-size: 19px;">
          {{season.DriverStandings[0].Driver.driverId}} {{season.DriverStandings[0].Driver.givenName}}
        </p>
        <div class="d-flex flex-row justify-content-around">
          <div class="p-2 orange-text"><i class="fas fa-trophy"></i> {{season.DriverStandings[0].wins}}</div>
          <div class="p-2 teal-text"><i class="fas fa-star"></i> {{season.DriverStandings[0].points}}</div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </a>
</div>
