.card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    font-weight: 400;
}
a, a:hover {
    text-decoration: none;
    transition: all .2s ease-in-out;
}
.hoverable, .hoverable:hover {
    transition: all .55s ease-in-out;
}
.card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
    font-weight: 400;
}
.orange-text {
    color: #ff9800!important;
    float: left;
}
.teal-text {
    color: #009688!important;
    float: right;
}
.card-body {
    background: rgb(0, 0, 0, 0.8);
    padding: 10px;
    color: #fff;
    font-style: italic;
}
.card-text {
    border-bottom: 1px solid #666;
}
.p-2 {
    margin: 0 15px;
}