<div class="content-wrap">
    <app-loader></app-loader>
    <app-header></app-header>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</div>
<div id="wallpaper"><img src="/assets/img/wallbg_1_low.jpg" alt=""></div>