#wallpaper {
    position: fixed;
    z-index: 1;
    left: 0;
    top: auto;
    bottom: 0;
    width: 100%;
    min-width: 960px;
    min-height: 100%;
    overflow: hidden;
}
#wallpaper img {
    width: auto;
    height: 100%;
    position: absolute;
    left: 50%;
    min-width: 100%;
    transform: translateX(-50%);
}
.content-wrap {
    position: relative;
    z-index: 3;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.container {
    padding-top: 160px;
    padding-bottom: 50px;
}
.progress-loader {
    position: absolute;
    top: 40%;
    left: 47%;
}
.progress-loader ::ng-deep .mat-spinner circle  {
    stroke: #E3462B;
}