footer {
    background-color: #15151F;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    position: fixed;
    z-index: 6;
    left: 0;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
}