@import url('https://fonts.googleapis.com/css?family=Exo+2');

* {
    font-family: 'Cuprum', 'FontAwesome' !important;
}

body {
    background-color: #fff;
  }
  body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  svg {
    width: 100%;
    height: 100%;
    visibility: hidden;
  }